@import 'variables.css';

/* Стили для карточек */
.card {
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: var(--card-shadow);
    margin: 1rem;
    padding: 1rem;
    background-color: var(--card-background-color);
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.card-price {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}
