@import 'variables.css';

/* Стили для иконок */
i {
    margin-right: 0.75rem;
    cursor: pointer;
    color: var(--tui-text-01);
    transition: color 0.2s;
    font-size: 1.25rem;
}

i:hover {
    color: var(--tui-primary);
}