@import 'variables.css';

/* Стили для заголовков */
h3 {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: var(--tui-primary);
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 65%;
}

/* Стили для текста */
p {
    margin: 0.5rem 0;
    color: var(--tui-text-01);
    font-size: 1rem;
    line-height: 1.5;
    max-height: calc(1.5rem * 2);
    overflow-y: auto;
    word-wrap: break-word;
    white-space: normal;
}

p::-webkit-scrollbar {
    width: 6px;
}

p::-webkit-scrollbar-track {
    background: var(--tui-base-02);
    border-radius: 6px;
}

p::-webkit-scrollbar-thumb {
    background: var(--tui-base-04);
    border-radius: 6px;
}

p::-webkit-scrollbar-thumb:hover {
    background: var(--tui-primary);
}