<div class="dialog-container">
  <form [formGroup]="productForm" (submit)="submit($event)">
    <tui-input
      #productNameInput
      tuiAutoFocus
      tuiTextfieldSize="m"
      maxlength="200"
      formControlName="dpTitle"
      (input)="onInput($event, 'dpTitle', 200)"
    >
      Название продукта
    </tui-input>
    <br />
    <tui-input
      #productDescriptionInput
      tuiTextfieldSize="m"
      maxlength="1000"
      formControlName="dpDescription"
      (input)="onInput($event, 'dpDescription', 1000)"
    >
      Описание продукта
    </tui-input>
    <br />
    <tui-input
      tuiTextfieldSize="m"
      type="number"
      formControlName="dpPrice"
    >
      Цена продукта
    </tui-input>
    <br />
    <tui-input
      tuiTextfieldSize="m"
      type="number"
      formControlName="dpPurchasePrice"
    >
      Закупочная цена
    </tui-input>
    <br />
    <tui-input
      tuiTextfieldSize="m"
      type="number"
      formControlName="dpCategoryId"
    >
      ID категории
    </tui-input>
    <br />
    <tui-input
      tuiTextfieldSize="m"
      type="number"
      formControlName="dpDiscountPercent"
    >
      Процент скидки
    </tui-input>
    <br />
    <button tuiButton type="submit" [disabled]="!hasValue">Добавить продукт</button>
  </form>
</div>
