<div class="product-card fade-in">
  <div class="product-row">
    <div class="product-image-container">
      <app-carousel-img [images]="images" class="product-image" (imageClick)="onImageClick($event)"></app-carousel-img>
    </div>
    <div class="product-details-container">
      <h3 class="product-title">{{ productInfo?.dpTitle }}</h3>
      <p class="product-price">{{ productInfo?.dpPrice | currency:'RUB ' }}</p>
      <p class="product-description">{{ productInfo?.dpDescription }}</p>
      <p class="product-category">{{ productInfo?.dpCategory?.dpCategoryTitle }}</p>
      <div class="product-actions">
        <div class="quantity-container">
           <input type="number" [(ngModel)]="quantity" min="1" max="100" step="1"  class="quantity-input">
        </div>
       
        <button type="button" tuiButton appearance="primary" class="btn-add-to-cart" (click)="addToCart()">
          Добавить в корзину
        </button>
      </div>
    </div>
  </div>
</div>