<!-- register.component.html -->
<form tuiAppearance="floating" tuiCardLarge tuiForm="m" [formGroup]="form" [style.max-width.rem]="32"
    (ngSubmit)="onRegister()">
    <header tuiHeader>
        <h2 tuiTitle>
            Форма регистрации
        </h2>
    </header>

    <tui-textfield>
        <label tuiLabel>Логин</label>
        <input formControlName="username" placeholder="Логин" tuiTextfield required />
    </tui-textfield>
    <tui-error formControlName="username" [error]="[] | tuiFieldError | async" />
    <tui-textfield>
        <label tuiLabel>Пароль</label>
        <input formControlName="password" placeholder="Пароль" tuiTextfield type="password" required />
    </tui-textfield>
    <tui-error formControlName="password" [error]="[] | tuiFieldError | async" />
    <footer>
        <button appearance="secondary" tuiButton type="button" (click)="navigateToLogin()">
            Отмена
        </button>
        <button tuiButton type="submit">
            Зарегистрироваться
        </button>
    </footer>
</form>

