<div class="wrapper">
    <tui-carousel #carousel class="carousel" [duration]="4000" [(index)]="index">
        <ng-container *ngFor="let image of images">
            <div *tuiItem class="item" (click)="onImageClick(imageUrls[image.dpImagesId])">
                <img [src]="imageUrls[image.dpImagesId]" alt="Изображение товара {{ image.dpImagesId }}"
                    *ngIf="imageUrls[image.dpImagesId]">
            </div>
        </ng-container>
    </tui-carousel>
    <tui-pagination size="s" class="pagination" [length]="images.length" [(index)]="index" />
</div>