.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--tui-base-01);
  padding: 1rem;
  box-sizing: border-box;
}

form[tuiCardLarge] {
  width: 100%;
  max-width: 32rem;
  box-shadow: 0 0.25rem 1rem var(--tui-shadow);
  border-radius: 0.5rem;
}

@media (max-width: 47.9375rem) {
  .form-container {
    padding: 0.5rem;
  }

  form[tuiCardLarge] {
    max-width: 90%;
  }
}

body.dark-theme .form-container {
  background: var(--tui-base-02-dark);
}

body.dark-theme form[tuiCardLarge] {
  box-shadow: 0 0.25rem 1rem var(--tui-shadow-dark);
}