<div>
  <h1>экран тест пользователя <tui-avatar src="@tui.user" (click)="navigateTo('/userProj')"/>  </h1>
  <button tuiButton type="button" (click)="openDialog('product')">Добавить продукт</button>
  <button tuiButton type="button" (click)="openDialog('category')">Добавить категорию</button>
  <button tuiButton type="button" (click)="openDialog('image')">Добавить изображение</button>

 
  <form [formGroup]="editProductForm" (ngSubmit)="editProductById(editProductForm.value.id ?? null)">
    <tui-input tuiTextfieldSize="m" maxlength="10" formControlName="id"
      placeholder="Введите ID продукта для редактирования" type="number">
      Product ID
    </tui-input>
    <button tuiButton type="submit" [disabled]="!editProductForm.valid">Редактировать продукт</button>
  </form>

  <form [formGroup]="editCategoryForm" (ngSubmit)="editCategoryById(editCategoryForm.value.id ?? null)">
    <tui-input tuiTextfieldSize="m" maxlength="10" formControlName="id"
      placeholder="Введите ID категории для редактирования" type="number">
      Category ID
    </tui-input>
    <button tuiButton type="submit" [disabled]="!editCategoryForm.valid">Редактировать категорию</button>
  </form>

  <form [formGroup]="editImageForm" (ngSubmit)="editImageById(editImageForm.value.id ?? null)">
    <tui-input tuiTextfieldSize="m" maxlength="10" formControlName="id"
      placeholder="Введите ID изображения для редактирования" type="number">
      Image ID
    </tui-input>
    <button tuiButton type="submit" [disabled]="!editImageForm.valid">Редактировать изображение</button>
  </form>

</div>