<!-- Navigation Buttons -->
<div>
  <button tuiButton type="button" (click)="openDialog('product')">Products</button>
  <button tuiButton type="button" (click)="openDialog('category')">Categories</button>
  <button tuiButton type="button" (click)="openDialog('image')">Images</button>
  <button *ngIf="!isProjAuthenticated" (click)="navigateTo('/login-proj')" tuiButton>Proj Auth</button>
  <button *ngIf="isProjAuthenticated" (click)="logoutProj()" tuiButton>Proj Exit</button>
    <tui-avatar src="@tui.user" (click)="navigateTo('/userProj')"/>
</div>