<table tuiTable [columns]="['title', 'textAchievement', 'status']">
  <thead>
    <tr tuiThGroup>
      <th *tuiHead="'title'" tuiTh>Название</th>
      <th *tuiHead="'textAchievement'" tuiTh>Описание</th>
      <th *tuiHead="'status'" tuiTh>Статус</th>
    </tr>
  </thead>
  <tbody tuiTbody>
    <tr *ngFor="let ach of allAchievements" tuiTr>
      <td *tuiCell="'title'" tuiTd>{{ ach.title }}</td>
      <td *tuiCell="'textAchievement'" tuiTd>{{ ach.textAchievement }}</td>
      <td *tuiCell="'status'" tuiTd>
        <span *ngIf="isCompleted(ach.achievementId)" class="completed">✔ Выполнено</span>
        <span *ngIf="!isCompleted(ach.achievementId)" class="not-completed">—</span>
      </td>
    </tr>
  </tbody>
</table>