.user-avatar tui-svg,
.user-avatar svg {
    color: var(--avatar-color, #212529);
    fill: var(--avatar-color, #212529);
}
[data-theme="dark"] .user-avatar tui-svg,
[data-theme="dark"] .user-avatar svg {
    color: #fff;
    fill: #fff;
}
label.always-fail-label {
    color: #fff;
}

[data-theme="dark"] label.always-fail-label {
    color: #fff;
}
/* Можно добавить в ваш компонент или глобальные стили */
.nav-row {
  display: flex;
  gap: 16px; /* расстояние между ссылками */
  align-items: center;
}
.nav-link {
  cursor: pointer;
  padding: 4px 1px;
  text-decoration: none;
}
.nav-link:hover {
  text-decoration: none;
  background: #f0f0f0;
  border-radius: 4px;
}